.button {
  position: relative;
  width: 36px;
  height: 36px;
  background-color: transparent;
  border-radius: 50%;

  border: 1px solid rgba(05, 05, 05, 0.1);

  outline: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  stroke: #000;
}

.button:hover {
  background-color: rgba(5, 5, 5, 1);
}

.button:hover .button__icon {
  stroke: var(--white);
}
