.iconBtn {
  width: 48px;
  height: 48px;
  background-color: white;
  box-shadow: none;
  border: 1px solid var(--black-12);
  transition: transform var(--transition);
  cursor: pointer;
}

.iconBtn:hover {
  background-color: var(--black);
}

.icon {
  stroke: var(--black);
}

.iconBtn:hover .icon {
  stroke: var(--white);
}

.counterInput {
  text-align: center;
  border: none;
  width: 50px;
  text-align: center;
  margin: 0;
  font-size: 16px;
  padding: 0;
}
