.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.icon {
  fill: var(--black);
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  stroke: none;
  transition: fill var(--transition);
}

.item_social:hover .icon,
.item_social:focus .icon {
  fill: var(--white);
}
