.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputQuantity {
  border: none;
  border-bottom: 1px solid rgba(5, 5, 5, 0.12);
  padding: 16px 0;
  height: 36px;
  border-radius: 0;
}

.inputQuantity::placeholder {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: calc(20 / 14);
  letter-spacing: -0.28px;
}
.button1 {
  width: 168px;
  padding: 14px 20px;
  border: 1px solid var(--black-90);
  background-color: transparent;
  color: var(--black-90);
}
.icon {
  fill: var(--black);
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  stroke: none;
  transition: fill var(--transition);
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.listItem {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
}

.imageWrapper {
  border-radius: 15px;
  border: 1px solid var(--black-10);
}
.image {
  display: block;
  padding: 10px;
}
.iconBtn {
  border: none;
  box-shadow: none;
  width: 16px;
  height: 16px;
  transition: transform var(--transition);
  position: absolute;
  top: 0;
  right: 0;
}

.iconBtn:hover {
  background-color: var(--white);
  scale: 1.1;
}
.textWrapper {
  flex-grow: 1;
  margin-right: 22px;
}
