.test {
  color: var(--black-90);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  cursor: pointer;
}