.container {
  margin-top: 64px;
  padding: 0px 16px;
}
.breadscrumbs {
  margin-bottom: 32px;
}

.title {
  margin-bottom: 16px;
}
.subtitle {
  margin-bottom: 32px;
  color: var(--black-80);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.28px;
}
.userInfoAndBtnWrapper {
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0px 32px;
  }
  .breadscrumbs {
    margin-bottom: 40px;
  }
  .title {
    margin-bottom: 20px;
  }
  .subtitle {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.32px;
  }
  .userInfoAndBtnWrapper {
    width: 394px;
    margin: 0 auto;
    margin-bottom: 80px;
  }
}

@media (min-width: 1440px) {
  .container {
    margin-top: 80px;
    padding: 0px 80px;
  }
  .userInfoAndBtnWrapper {
    margin: 0 40px 80px 0;
  }
  .userInfoAndTabContentWerapper {
    display: flex;
    justify-content: space-between;
  }
}
