.recipeCardWrapper {
  display: flex;
  justify-content: space-between;
}

.flexPhotoWrapper {
  display: flex;
  gap: 10px;
}

.recipeTextWrapper {
  width: 166px;
  height: 75px;
}

.recipeName {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  padding-bottom: 8px;
}

.buttonWrapper {
  display: flex;
  gap: 4px;
}

.smallRecipeIcon {
  stroke: var(--black);
}

@media screen and (min-width: 768px) {
  .flexPhotoWrapper {
    gap: 16px;
  }

  .buttonWrapper {
    gap: 0px;
  }

  .recipeTextWrapper {
    width: 468px;
    height: 100px;
  }

  .recipeName {
    font-size: 20px;
    padding-bottom: 10px;
  }
}