@media (min-width: 1024px) {
  .formWraper {
    display: flex;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

label {
  text-transform: uppercase;
  margin-bottom: 8px;
}
input[type="text"]::placeholder {
  font-weight: 800;
  font-size: 18px;
  line-height: calc(24 / 18);
  letter-spacing: -0.36px;
  text-transform: uppercase;
}

input[type="text"] {
  border: none;
}

.descriptionWrapper {
  position: relative;
}

.decriptioArea {
  height: 36px;
  padding: 16px 0;
  border: none;
  border-bottom: 1px solid rgba(5, 5, 5, 0.12);
  box-sizing: border-box;
  font-size: 14px;
  outline: none;
  resize: none;
  overflow: hidden;
}

.decriptioArea::placeholder {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
}

.decrCounter {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
}

.recipeData {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.iconTrash {
  fill: var(--black-12);
}
